.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
.Rproj.user/
*.Rproj
renv/

*.swp
_build
/.quarto/
_extensions/
content_files/
/.luarc.json
/*_files
/*_cache
/_freeze
*_cache/
/cache/
*_files/
*.DS_Store

_site/
logo_notext_white.png
logo_text_white.pdf
published-202407-susmann-adaptive-conformal.pdf
published-202407-susmann-adaptive-conformal.html
